form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-bottom: 2rem;

  input {
    margin-bottom: 1rem;
  }

  button {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: fit-content;
  }
}
